body {
  background-color: lightblue;
}

div {
  text-align: center;
  margin: auto;

}

#header {
  color: rebeccapurple;
  font-size: 60px;

}

#zipInput {
  display: block;
  margin: auto;
  height: 25px;
  width: 30%;
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 20px;
  text-align: center;
  background-color: white;
  border-radius: 15px;

}

#zipButton {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: white;
  font-size: 15px;
}

#weather {
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 1em;
  width: 70%;
  background-color: white;
}

.icon {
  width: 20%;
  height: 20%;
}

.city {
  font-weight: bold;
  font-size: 65px;
  color: rebeccapurple;
}

.temp {
  font-size: 50px;
  color: rebeccapurple;
}

.description {
  font-size: 30px;
  font-style: italic;
}

#noWeather {
  font-weight: bold;
  font-size: 45px;
  color: rebeccapurple;
}