html,
body {
  margin: 0;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}


#mainHeader {
  background-color: lightcyan;
  text-align: center;
  border-bottom: 1px solid gray;
  padding-bottom: 5em;
  padding-top: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 82px;
  box-sizing: border-box;
}

#homeButton {
  background-color: lightcyan;
  color: turquoise;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

#homeButton:hover {
  transform: scale(1.1);
}

#blogContainer {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#postContainer {
  width: 85%;
  margin: auto;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr;
}


@media screen and (max-width: 1500px) {
  #blogContainer, #postContainer {
    width: 85%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.blog {
  animation: 1s ease-out 0s 1 slideInLeft;
  text-align: center;
  padding-top: 1em;
  border-radius: 18px;
  border: 1px solid grey;
  margin: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: white;
  box-shadow: 1px 1px 1px gray;
  color: unset;
  text-decoration: none;
}

.blog h2 {
  color: turquoise;

}

.blog:hover {
  box-shadow: 0 0 10px 5px turquoise;
  cursor: pointer;
}

.post {
  border-bottom: 1px solid gray;
  margin: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background-color: white;
}

.post h3 {
  color: turquoise;
}


.commentContainer {
  width: 100%;
  height: 300px;
  overflow-y: scroll;
  margin: auto;
  border: 2px solid turquoise;
  margin-top: 5px;
  padding: 1em;
}

.commentContainer h4 {
  font-size: 20px;
}

.commentButton {
  border-radius: 50px;
  background-color: turquoise;
  border: 1px solid gray;
}

.commentButton:hover {
  transform: scale(1.1);
}