body {
  background-image: url('../public/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

div {
  text-align: center;
  margin: auto;

}

#header {
  color: rebeccapurple;
  font-size: 60px;
  margin-top: .2em;
text-shadow: 2px 1px 1px black;
}

#zipInput {
  display: block;
  margin: auto;
  height: 25px;
  width: 30%;
  margin-bottom: .5em;
  margin-top: 1em;
  font-size: 20px;
  text-align: center;
  background: rgb(255, 255, 255, .3);
  border-radius: 15px;
  border: none;

}

#zipInput:hover {
  background-color: white;
}

#zipButton {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  background-color: rebeccapurple;
  color: white;
  font-size: 15px;
}

#zipButton:hover {
  background-color: gray;
  cursor: pointer;
}

#weather {
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  width: 50%;
  height: 29em;
  box-sizing: border-box;
  background: rgb(255, 255, 255, .3);
  overflow: auto;
  position: relative;
  box-shadow: 2px 2px 2px;
}

.icon {
  width: 20%;
  height: 20%;
}

.city {
  font-weight: bold;
  font-size: 50px;
  color: white;
  padding-top: .5em;
  margin: 0;
}

.temp {
  font-size: 50px;
  color: rebeccapurple;
  margin: 0;
}

.description {
  font-size: 30px;
  font-style: italic;
  color: white;
  margin-top: 1em;
}

.infoDiv {
  width: 90%;
  font-size: 2em;
  padding: .5em;
  border-bottom: 1px solid black;
  margin: auto;
  color: rebeccapurple;
  font-weight: bold;
}

.arrowButton {
  position: absolute;
  width: 5em;
  height: 100%;
  top: 0;
  background-color: white;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  opacity: 0;
}

.arrowButton:hover {
  opacity: .4;
  cursor: pointer;
}

#nextButton {
  right: 0;
}

#backButton {
  left: 0;
}

#noWeather {
  font-weight: bold;
  font-size: 45px;
  color: rebeccapurple;
}